body {
  margin: 0;
  color: #333;
  display: flex;
  place-content: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  background-color: #c75000;
  color: #fff;
  cursor: pointer;
  text-align: center;
  transition: border-color 0.25s;
  width: 150px;
}

button:hover {
  border-color: #fff;
}

button:focus,
button:focus-visible {
  border-color: #fff;
  outline: 4px #fff -webkit-focus-ring-color;
}

.error-space ul {
  color: red;
  list-style: ' *  ';
}

.form-container {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-title {
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 0px 15px;
}

.form-control {
  border: 2px solid #ccc;
  border-radius: 8px;
  line-height: 16px;
  margin: 5px 0;
  padding: 15px 10px;
}

input[type="text"]:focus,
input[type="email"]:focus {
  border: 2px solid #c75000;
  outline: none;
}

.btn-group {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}
